---
layout: default
---
<header class="header">
  <section class="container">
    <h1 class="title">Stubmarine</h1>
    <img alt="screenshot" src="assets/screenshot.png">
    <p class="description">
      Pre-built external service stubs to improve developer experience.
      <br>
      <i>
        <small>Currently v0.1.0</small>
      </i>
    </p>
    <div>
      <a class="button button-outline" href="https://stubmarine.cfapps.io" target="_blank">Try Demo</a>
      <a class="button" href="#getting-started">Getting Started</a>
    </div>
  </section>
</header>
<section class="container" id="getting-started">
  <h3 class="title">Getting Started</h3>
  <p>Get started using Stubmarine quickly by doing:</p>
  <ol class="steps">
    <li>
      <code class="highlighter-rouge">git clone git@github.com:Stubmarine/stubmarine.git</code>
    </li>
    <li>Follow the Getting Started instructions in README.md</li>
    <li>Build the UberJar</li>
    <li>Run <code class="highlighter-rouge">JWTSECRET=secret java -jar stubmarine-0.1.0.jar</code></li>
  </ol>
</section>
<section class="container">
  <h3 class="title">Using Stubmarine</h3>
  <p>Using Stubmarine is easy.</p>
  <ol class="steps">
    <li>Take your existing 12-factor app</li>
    <li>Reconfigure external dependencies to point to Stubmarine</li>
    <li>Develop code with ease!</li>
  </ol>
</section>
<section class="container">
  <h3 class="title">Happy Users</h3>
  TODO
</section>
